<!doctype html>
<html>
  <head>
    <title>FoxChatter Newsfeed</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="/css/global.css">
    <link rel="stylesheet" type="text/css" href="/css/feed.css">
  </head>
  <body>
    <header>
      <!--Site Name-->
      Goldfish
      <!--MyMarist Portal-->
      <div id="portal_button">
        <img id = "goldfish" src="images/goldfish.png" <p>Click Image!</p>>
        
      </div>
      
    </header>
      <main>
        <div id="newsfeed">Interesting Goldfish Stories!<hr></div>
      </main>
    <footer>
      <p id="site_info">Copyright &copy; 2022: Goldfish est. 1962</p>
    </footer>
    <script src = "/js/feed.js"></script>
    <script src = "/js/global.js"></script>
  </body>
</html>
